p {
    color: blue;
    text-align: center;
}

h3 {
    color: chocolate;
    text-align: center;
}

.textbox{
    text-align: center;
}

#submitBtn {
    align-content: center;
}

.answer {
    text-align: center;
}

label.answer {
    text-align: center;
}